{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "@mui/?(.*)$",
    "@/pages/?(.*)$",
    "@/components/?(.*)$",
    "@/layouts/?(.*)$",
    "@/redux/?(.*)$",
    "@/hooks/?(.*)$",
    "@/utils/?(.*)$",
    "@/constants/?(.*)$",
    "@/common/?(.*)$",
    ".css",
    "@/assets/?(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}
