{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["@mui/?(.*)$", "@/redux/?(.*)$", ".css"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}
