.input {
  background-color: #FFFFFF !important;
  border-color: #D8D7DB;
  border-radius: 2px;
  box-shadow: none;
  color: rgba(26, 22, 87, 0.85) !important;
  padding: 8px 12px;
}

.input:hover,
.input:focus,
.input:focus-within {
  border-color: #888791;
  box-shadow: none;
}

.input svg {
  fill: #1A1657D9;
  width: 16px;
  height: 16px;
}