* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#root {
  position: relative
}

.svg-wrapper svg {
  display: block;
}

.header-icon {
  margin: 0 12px
}

.ant-dropdown-menu {
  margin-top: 10px !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 12px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  border: 0.5px solid rgba(26, 22, 87, 0.40);
  background: rgba(26, 22, 87, 0.30);
}

::-webkit-scrollbar-thumb:hover {
  background: #606671;
}