* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#root {
  position: relative
}

.svg-wrapper svg {
  display: block;
}

.header-icon {
  margin: 0 12px
}

.ant-dropdown-menu {
  margin-top: 10px !important;
  padding: 0 !important;
}